*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:black;
  color:white;
}

.main{
  position:relative;
  height:90vh;
  background:
    linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0.15)),
    linear-gradient(to bottom, rgba(0,0,0,0.75), rgba(0,0,0,0.15)),
    url("assets/images/herobackground.jpg");
  background-size:100%;
  background-position:center;
}

nav{
  height:170px;
  max-width:85vw;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

nav img{
  width:300px;
}

.nav-btns{
  display:flex;
  gap:30px;
}

.lang{
  background:rgba(0,0,0,0.6);
  color:white;
  border:1px solid #666;
  padding:10px 24px;
  border-radius:10px;
  font-size:32px;
}
.lang-dropdown {
  position: relative;
  display: inline-block;
}

/* .lang {
  padding: 8px 14px;
  cursor: pointer;
} */

.lang-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: black;
  color: white;
  min-width: 260px;
}

.lang-dropdown:focus-within .lang-menu {
  display: block;
}

.lang-menu div {
  padding: 20px;
  cursor: pointer;
}

.lang-menu div:hover {
  background: #e75b5b;
}



.signin{
  background:#e50914;
  color:white;
  border:none;
  padding:10px 40px;
  font-weight:400;
  border-radius:8px;
  font-size:32px;
  cursor:pointer;
}

.hero{
  height:calc(90vh - 170px);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  gap:45px;
  max-width:1300px;
  margin:auto;
  padding:0 20px;
  position:var(nav);
}

.hero h1{
  font-size:6.5rem;
  font-weight:800;
  line-height:1.1;
}

.hero h2{
  font-size:3.25rem;
  font-weight:400;
}

.hero p{
  font-size:2.3rem;
}

.hero-input{
  display:flex;
  gap:30px;
  margin-top:10px;
}

.hero-input input{
  width:750px;
  padding:10px 28px;
  font-size:2.5rem;
  background:rgba(0,0,0,0.65);
  border:1px solid #666;
  color:rgb(255, 255, 255);
  border-radius:8px;
  cursor:text;
}

.hero-input button{
  height:115px;
  width:380px;
  padding:0 28px;
  font-size:2.5rem;
  background:#e50914;
  color:white;
  border:none;
  font-weight:600;
  border-radius:8px;
  cursor:pointer;
}
.first{
  display:flex;
  justify-content: center;
  max-width:80vw;
  margin:auto;
  justify-content: center;
  align-items:center;
}
.secImg{
  position: relative;
}
.secImg img{
  width:30vw;
}
secImg video{
  position: absolute;
    top: 143px;
    left: 115px;
    size: 183px;
    width: 700px;
    z-index: -1;
}
